.filter-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 10px;
}

.filter-item {
  display: flex;
  align-content: space-between;
  margin-bottom: 5px;
}

.filter-item > input {
  flex: 1;
}

.separator {
  width: 95%;
  height: 2px;
  justify-content: center;
  background-color: grey;
  margin-bottom: 15px; 
}