.sort-btn {
    border-radius: 5px;
    color: white; 
    padding: 5px 10px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.sort-btn:hover {
    background: rgb(53, 167, 110); 
}